<%- include("partials/header") %>

<section id="header-section">
  <div class="container-fluid" id="global-container-fluid">
    <!-- Nav Bar -->
    <nav class="navbar navbar-dark" id="navbar">
      <div class="container-fluid" style="padding:0;">
        <a class="navbar-brand" id="nav-brand" target="_blank" rel="noopener noreferrer" href="https://zineddinebtc.github.io/my-portfolio/">U-Read Bolt</a>
        <ul class="navbar-nav ms-auto list-group list-group-horizontal">
          <li class="nav-item">
            <form action="/login" method="get">
              <button type="submit" class="btn btn-outline-light">Login</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/register" method="get">
              <button type="submit" class="btn btn-light">Register</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Title -->
    <div class="row title-row">
      <h1 class="title">
        <span id="title-before"></span>
        <span id="title-middle"></span>
        <span id="title-after"></span>
      </h1>
    </div>
  </div>
</section>

<section id="section-game">
  <h2 id="h2-points">Points: 0</h2><br>
  <div id="radio-group-game-type" class="btn-group radio-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btn-word" autocomplete="off" value="word" checked>
    <label class="btn btn-outline-dark" for="btn-word">Word</label>
    <input type="radio" class="btn-check" name="btnradio" id="btn-lights" autocomplete="off" value="lights">
    <label class="btn btn-outline-dark" for="btn-lights">Lights</label>
    <input type="radio" class="btn-check" name="btnradio" id="btn-reviel" autocomplete="off" value="reviel">
    <label class="btn btn-outline-dark" for="btn-reviel">Reviel</label>
    <button class="btn btn-danger btn-lg" id="btn-start">START</button>
  </div>
  <div id="div-game">
    <h3 id="h3-game">
      <span id="game-before">I bet you won't even catch it</span>
      <span id="game-middle"></span>
      <span id="game-after"></span>
    </h3>
    
    <div class="form-group" id="form-game">
      <div class="row">
        <div class="col-10 nopadding">
          <textarea class="form-control" id="text-area-answer" rows="2" placeholder="Let's check what you pretend to catch"></textarea>
        </div>
        <div class="col-2 nopadding">
          <button id="btn-check" class="btn">CHECK</button>
        </div>
      </div>
    </div>
  </div>

  <div id="div-result"> 
    <h2 id="h2-result">Result: xx.x%</h2>
  </div>
</section>

<footer id="footer">
  <div class="socials">
    <a class="socials-link" href="mailto:zineddine.bettouche.inbox@gmail.com">Gmail</a>
    <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/zineddine.bettouche">Facebook</a>
    <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/ZineddineBtc">Twitter</a>
    <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/zneddine-bettouche">LinkedIn</a>
    <a class="socials-link"target="_blank" rel="noopener noreferrer" href="https://www.github.com/ZineddineBtc">GitHub</a>
  </div>
  <p id="copyright">© Copyright 2021 Zineddine Bettouche</p>

</footer>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- My jQuery -->
<script type="text/javascript" src="javascript/game.js"></script>

<%- include("partials/footer") %>
