<%- include("partials/header") %>

<section id="header-section">
  <div class="container-fluid" id="global-container-fluid">
    <!-- Nav Bar -->
    <% if(!isAuthenticated) { %>
      <%- include("partials/nav-unsigned") %>
    <% } else { %>
      <%- include("partials/nav-signed") %>
    <% } %>
    <!-- Title -->
    <div class="row title-row">
      <h1 class="title" id="title-index"> Take your reading experience <br> to another level </h1>
    </div>
  </div>
</section>

<section id="section-input">
  <div class="row">
    <div class="col-md-6">
      <h1 id="h1-upload" class="h1-index">Upload PDF File</h1>
      <form ref="uploadForm" action="/upload" id="form-upload"
            method="post" encType="multipart/form-data">
        <input id="input-upload" class="input-index" type="file" name="uploadedFile" accept=".pdf"/> <br>
        <button disabled type="submit" class="btn btn-dark btn-lg btn-index" id="button-upload">UPLOAD</button>
      </form>
    </div>
    <div class="col-md-6">
      <h1 id="h1-text" class="h1-index" style="color: #a9a9a9;">Or Enter Text</h1>
      <form action="/text" method="post">
        <textarea name="text" disabled class="input-index" id="textarea-index" placeholder="Write somthing..."></textarea> <br>
        <button disabled type="submit" class="btn btn-dark btn-lg btn-index" id="button-read">READ</button>
      </form>
    </div>
  </div>  
</section>


<footer id="footer">
    <div class="socials">
      <a class="socials-link" href="mailto:zineddine.bettouche.inbox@gmail.com">Gmail</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/zineddine.bettouche">Facebook</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/ZineddineBtc">Twitter</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/zneddine-bettouche">LinkedIn</a>
      <a class="socials-link"target="_blank" rel="noopener noreferrer" href="https://www.github.com/ZineddineBtc">GitHub</a>
    </div>
    <p id="copyright">© Copyright 2021 Zineddine Bettouche</p>
  
</footer>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- My jQuery -->
<script type="text/javascript" src="javascript/index.js"></script>

<%- include("partials/footer") %>