<%- include("partials/header") %>

<section id="header-section">
  <div class="container-fluid" id="global-container-fluid">
    <!-- Nav Bar -->
    <nav class="navbar navbar-dark" id="navbar">
      <div class="container-fluid" style="padding:0;">
        <a class="navbar-brand" id="nav-brand" target="_blank" rel="noopener noreferrer" href="https://zineddinebtc.github.io/my-portfolio/">U-Read Bolt</a>
        <ul class="navbar-nav ms-auto list-group list-group-horizontal">
          <li class="nav-item">
            <form action="/login" method="get">
              <button type="submit" class="btn btn-outline-light">Login</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/register" method="get">
              <button type="submit" class="btn btn-light">Register</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Title -->
    <div class="row title-row">
      <h1 class="title"> Take your reading experience <br> to another level </h1>
    </div>
  </div>
</section>

<section id="section-reading">
    <h1 id="h1-viewer"></h1>   
    <p id="p-viewer"><%= text %></p>
</section>

<footer id="footer">
    <div class="socials">
      <a class="socials-link" href="mailto:zineddine.bettouche.inbox@gmail.com">Gmail</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/zineddine.bettouche">Facebook</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/ZineddineBtc">Twitter</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/zneddine-bettouche">LinkedIn</a>
      <a class="socials-link"target="_blank" rel="noopener noreferrer" href="https://www.github.com/ZineddineBtc">GitHub</a>
    </div>
    <p id="copyright">© Copyright 2021 Zineddine Bettouche</p>
  
</footer>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- My jQuery -->
<script type="text/javascript" src="javascript/viewer.js"></script>


<%- include("partials/footer") %>