<%- include("partials/header") %>

<section id="header-section">
  <div class="container-fluid" id="global-container-fluid">
    <!-- Nav Bar -->
    <nav class="navbar navbar-dark" id="navbar">
      <div class="container-fluid" style="padding:0;">
        <a class="navbar-brand" id="nav-brand" target="_blank" rel="noopener noreferrer" href="https://zineddinebtc.github.io/my-portfolio/">U-Read Bolt</a>
        <ul class="navbar-nav ms-auto list-group list-group-horizontal">
          <li class="nav-item">
            <form action="/login" method="get">
              <button type="submit" class="btn btn-outline-light">Login</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/register" method="get">
              <button type="submit" class="btn btn-light">Register</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Title -->
    <div class="row title-row">
      <h1 class="title"> Take your reading experience <br> to another level </h1>
    </div>
  </div>
</section>

<p id="p-viewer" style="display: none;"><%= text %></p>

<section id="section-reading">  
    <div class="row">
      <div class="col-lg-3">
        <div class="input-group mb-3">
          <span class="input-group-text" id="span-page">Page</span>
          <input id="input-page" type="number" class="form-control" placeholder="0" aria-label="Page Number" aria-describedby="span-page" style="text-align: center;">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group mb-3" id="div-speed">
          <span class="input-group-text" id="span-speed">Speed</span>
          <button id="btn-decrease-speed" class="btn btn-outline-secondary" type="button">-</button>
          <input  id="input-speed" type="number" class="form-control" value="6" placeholder="Word/s" aria-label="Page Number" aria-describedby="span-speed" style="text-align: center;">
          <button id="btn-increase-speed" class="btn btn-outline-secondary" type="button">+</button>
        </div>
      </div>
      <div class="col-lg-3">
        <div id="radio-group-viewer-type" class="btn-group radio-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btn-word-viewer" autocomplete="off" value="word" checked>
          <label class="btn btn-outline-dark" for="btn-word">Word</label>
          <input type="radio" class="btn-check" name="btnradio" id="btn-lights-viewer" autocomplete="off" value="lights">
          <label class="btn btn-outline-dark" for="btn-lights">Lights</label>
          <input type="radio" class="btn-check" name="btnradio" id="btn-reviel-viewer" autocomplete="off" value="reviel">
          <label class="btn btn-outline-dark" for="btn-reviel">Reviel</label>
        </div>
      </div>
      <div class="col-lg-3">
        <button id="btn-start-viewer" class="btn btn-dark">START</button>
      </div>
    </div>
    <div class="form-check form-switch" id="div-dark-mode">
      <input class="form-check-input" type="checkbox" id="checkbox-dark-mode" />
      <label class="form-check-label" for="checkbox-dark-mode">Dark mode</label>
    </div>

    <div id="div-viewer">
      <h1 id="h1-viewer">...</h1> 
    </div>
  
</section>

<footer id="footer">
    <div class="socials">
      <a class="socials-link" href="mailto:zineddine.bettouche.inbox@gmail.com">Gmail</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/zineddine.bettouche">Facebook</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/ZineddineBtc">Twitter</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/zneddine-bettouche">LinkedIn</a>
      <a class="socials-link"target="_blank" rel="noopener noreferrer" href="https://www.github.com/ZineddineBtc">GitHub</a>
    </div>
    <p id="copyright">© Copyright 2021 Zineddine Bettouche</p>
  
</footer>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- My jQuery -->
<script type="text/javascript" src="javascript/viewer.js"></script>


<%- include("partials/footer") %>