/***************************  index.ejs  ********************************/


/***************************  game.ejs  ********************************/
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
#header-section {
    background-color: #212529;
}
#global-container-fluid {
    padding: 1% 10%;
}
#nav-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}
#navbar {
    padding: 0 0 3.5rem;
}
.nav-item {
    padding: 0 10px;
}
.link-navbar {
    font-family: "Montserrat";
}
.title-row {
  text-align: center;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: white;
    line-height: 1.5;
    padding-bottom: 2rem;
}
#title-before, #title-after {
    visibility: hidden;
}
#section-game {
    margin: 5% 10%;
    text-align: center;
}
#h2-points {
    background-color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: white;
    line-height: 1.5;
    padding: 1rem 3rem;
    margin-bottom: 5%;
    display: inline-block;
}
#radio-group-game-type {
    margin-bottom: 5% 5% 0;
}
#btn-start {
    padding: 5px 20px;
}
#div-game {
    border: 1px #212529 solid;
    border-radius: 2%;
    width: 80%;
    margin: 0 auto;
    background-color: #212529;
}
#h3-game {
    padding: 10% 4%;
    color: #fff;
    font-size: 3rem;
}
#game-before, #game-after {
    visibility: hidden;
}
#form-game {
    margin: 0 auto;
    width: 95.5%;
}
#text-area-answer {
    text-align: center;
    border: none;
    border-radius: 0px;
    border-top: 1px #fff solid;
    background-color: #212529;
    color: #fff;
}
#btn-check {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    color: #fff;
    border: none;
    border-top: 1px #fff solid;
    border-left: 1px #fff solid;
    background-color: #212529;
}
#btn-check:hover {
    background-color: #fff;
    color: #212529;
}
#h2-result {
    margin: 3% auto;
    padding: 3% 5%;
    display: inline-block;
    border: 1px #212529 solid;
    border-radius: 1%;
}
#footer {
    background-color: #212529;
    text-align: center;
    padding: 2%;
}
.socials-link {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
.socials-link:hover {
    text-decoration: underline;
}
#copyright{
    margin-top: 40px;
    color: #fff;
}

/***************************  upload.ejs  ********************************/
#section-input {
    text-align: center;
    margin: 7% 10%;
}
.h1-index {
    margin: 2% 0% 1%;
    cursor: pointer;
}
.h1-index:hover {
    text-decoration: underline;
}
#textarea-index {
    text-align: left;
    margin-bottom: 0;
    background-color: #6f7275;
}
.input-index {
    margin: 1% 0%;
    width: 100%;
    background-color: #212529;
    color: #fff;
    padding: 5%;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#form-upload {
    height: 100%;
}
.btn-index {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/***************************  viewer.ejs  ********************************/
#section-reading {
    text-align: center;
    padding: 7% 15%;
}
#radio-group-viewer-type {
    width: 100%;
}
#btn-start-viewer {
    width: 100%;
}
#div-dark-mode {
    text-align: left;
    margin-bottom: 1%;
}
#div-viewer {
    border: 1px #212529 solid;
    border-radius: 5px;
    width: 100%;
    padding: 7% 4%;
}
.h1-dark-mode {
    color: #fff;
    background-color: #212529;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    visibility: hidden;
    font-size: 2rem;
}
/***************************  @media  ********************************/

@media (max-width: 1024px) {
    #div-game {
        width: 100%;
    }
    #form-game {
        width: 95%;
    }
    #btn-start-viewer {
        margin: 3% 0% 3%;
    }
}
@media (max-width: 768px) {
    #global-container-fluid {
        padding: 1% 5%;
    }
    #nav-brand {
        font-family: "Ubuntu";
        font-size: 1.5rem;
    }
    #navbar {
        padding: 0 0 3.5rem;
    }
    .nav-item {
        padding: 0 5px;
    }
    #title-middle, #title-before, #title-after {
        font-size: 2rem;
        line-height: 1;
    }    
    #div-game {
        width: 100%;
    }
    #h3-game {
        font-size: 2rem;
    }
    #form-game {
        width: 93%;
    }
    #title-index {
        font-size: 2rem;
    }
    #uploadForm {
        width: 90%;
    }
    #h1-text {
        margin-top: 5%;
    }
}